<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../baselinks") -%>
</head>
<body>
  <%- include("../header") -%>
  <div class="container">
    <% if(response.successMessage) { %>
      <div class="alert alert-success" role="alert">
        <p><%= response.successMessage %></p>
      </div>
    <% } %>
    <% if(response.failMessage) { %>
      <div class="alert alert-danger" role="alert">
        <p><%= response.failMessage %></p>
      </div>
    <% } %>
    <div class="row">
      <a role="button" class="btn btn-primary float-left" href="/admin/users">< Back to Volunteers</a>
    </div>
    <div class="row">
      <h2>Import Volunteers</h2>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-secondary">
          <p>Expected formats:</p>
          <ul>
            <li>onyen, role [admin, volunteer]</li>
          </ul>
          <p>The following fields are required:</p>
          <ul>
            <li>onyen</li>
            <li>role</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <form method="POST" encType="multipart/form-data">
          <label for="file">Upload a CSV file</label>
          <div class="form-group">
            <input type="file" class="form-control-file" id="file" name="file">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  <%- include("../scripts") -%>
</body>
</html>
