<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../baselinks") -%>
</head>
<body>
  <%- include("../header") -%>
  <div class="container">
      <h2>Manage Preorders</h2>
      <form>
          <div class="table-responsive">
              <table class="table">
                  <thead class="thead-light">
                      <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Time</th>
                          <th scope="col">Item Name</th>
                          <th scope="col">Count</th>
                          <th scope="col">Status</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% if (response && response.preorders) {%>
                      <% response.preorders.forEach((trans) => {%>
                      <tr>
                          <td><%= trans.id %></td>
                          <td><%= trans.createdAt.toLocaleString() %></td>
                          <td><%= trans.item_name %></td>
                          <td><%= trans.count %></td>
                          <td><%= trans.status %></td>
                      </tr>
                      <% }); %>
                      <% } %>
                  </tbody>
              </table>
              <% if (response && response.error) {%>
              <div class="alert alert-danger">
                  <%= response.error%>
              </div>
              <% } %>
          </div>
      </form>
  </div>
  <%- include("../scripts") -%>
</body>
</html>
