<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("components/baselinks") -%>
</head>
<body>
  <%- include("components/header") -%>
  <div class="container">
    <%- include("components/alerts") -%>
    <p>Hi <%= onyen %>. Welcome to Carolina Cupboard!</p>
    <% if(userType) { %>
    <% if(userType == "admin") { %>
    <h1>Admin</h1>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="card">
          <a class="card-link" href="/admin/users">
            <div class="card-body">
              <p class="card-title">Manage Volunteers</p>
              <p class="card-text">Add, delete, and edit volunteers and admins</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card">
          <a class="card-link" href="/admin/history">
            <div class="card-body">
              <p class="card-title">Transaction History</p>
              <p class="card-text">See the history of transactions</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card">
          <a class="card-link" href="/admin/backup">
            <div class="card-body">
              <p class="card-title">Backup & Delete Data</p>
              <p class="card-text">Backupd and delete items and transactions</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <br>
    <% } %>
    <% if(userType == "volunteer" || userType == "admin") { %>
    <h2>Volunteer</h2>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="card">
          <a class="card-link" href="/entry">
            <div class="card-body">
              <p class="card-title">Add & Remove Items</p>
              <p class="card-text">Update item counts in the inventory</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card">
          <a class="card-link" href="/preorders">
            <div class="card-body">
              <p class="card-title">Manage Preorders</p>
              <p class="card-text">Confirm and mark off completed preorders</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card">
          <a class="card-link" href="/entry/import">
            <div class="card-body">
              <p class="card-title">Import Items</p>
              <p class="card-text">Mass import items by uploading a CSV file</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <% } %>
    <% } %>
    <br>
    <h2>Your Account</h2>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="card">
          <a class="card-link" href="/items">
            <div class="card-body">
              <p class="card-title">View Catalog & Preorder</p>
              <p class="card-text">Check out Carolina Cupboard's current inventory</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card">
          <a class="card-link" href="/history">
            <div class="card-body">
              <p class="card-title">Your Orders</p>
              <p class="card-text">View your preorders and order history</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <%- include("components/scripts") -%>
</body>
</html>
