<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../components/baselinks") -%>
</head>
<body>
  <%- include("../components/header") -%>
  <main>
    <div class="container">
      <% if (response && response.success) { %>
        <div class="alert alert-success" role="alert">
          <p><%= response.success %></p>
        </div>
      <% } %>
      <% if (response && response.error) { %>
        <div class="alert alert-danger" role="alert">
          <p><%= response.error %></p>
        </div>
      <% } %>
      <h2>Your cart</h2>
      <div class="table-responsive">
        <table id="itemsTable" class="table table-striped table-bordered" cellspacing="0" width="99%">
          <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Quantity</th>
              <th scope="col">Desc.</th>
              <th scope="col">Update</th>
            </tr>
          </thead>
          <tbody id="cart-tbody">
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <button type="button" class="btn btn-danger float-left" data-toggle="modal" data-target="#clearCartModal">Clear Cart</button>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-primary float-right" id='checkoutButton'>Check Out</button>
        </div>
      </div>
    </div>
    <div class="modal fade" id="clearCartModal" tabindex="-1" role="dialog" aria-labelledby="clearCartModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="clearCartModalLabel">Clear Cart?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to clear your cart?</p>
            <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Cancel</button>
            <button class="btn btn-danger float-right" id="clearCartButton" data-dismiss="modal">Clear Cart</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include("../components/scripts") -%>
  <script src="/static/js/cart.js"></script>
  <% if (response && response.success) { %>
    <div id="clear-cart">
  <% } %>
</body>
</html>
