<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../baselinks") -%>
</head>
<body>
  <%- include("../header") -%>
  <div class="container">
    <h2>Transaction History</h2>
    <div class="table-responsive">
      <table id="historyTable" class="table table-striped table-bordered" cellspacing="0" width="80%">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Item Name</th>
            <th scope="col">Count</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% if (response && response.transactions) {%>
          <% response.transactions.forEach((trans) => {%>
          <tr>
            <td><%= trans.createdAt.toLocaleString() %></td>
            <td><%= trans.item_name %></td>
            <td><%= trans.count %></td>
            <td><%= trans.status %></td>
          </tr>
          <% }); %>
          <% } %>
        </tbody>
      </table>
      <% if (response && response.error) {%>
      <div class="alert alert-danger">
        <%= response.error%>
      </div>
      <% } %>
    </div>
  </div>
  <%- include("../scripts") -%>
  <script src="/static/js/history.js"></script>
</body>
</html>
