<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("../baselinks") -%>
</head>

<body>
	<%- include("../header") -%>
	<div class="container">
		<div id="toast-div">
			<div id="toast-pos" class="toast-pos">
			</div>
		</div>
		<h2>Search for items to add to your cart</h2>
		<div class="table-responsive">
			<table id="itemsTable" class="table table-striped table-bordered" cellspacing="0" width="99%">
				<thead>
					<tr>
						<th scope="col">Item</th>
						<th scope="col">In Stock</th>
						<th scope="col">Desc.</th>
						<th scope="col">Add</th>
					</tr>
				</thead>
				<tbody>
					<% if (response && response.items) {%>
					<% response.items.forEach((item) => {%>
						<% if (item.count > 0) {%>
						<tr>
							<th scope="row"><%= item.name%></th>
							<td><%= item.count%></td>
							<td><%= item.description%></td>
							<td class="text-right pr-1">
								<div>
									<input style="width: 50px" id="cartQuantity" type="number" min="1" max="<%= item.count %>" value=1>
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-success" id="addToCartButton" data-id="<%= item.id %>" data-name="<%= item.name %>" 
											data-barcode="<%= item.barcode %>" data-count="<%= item.count %>" data-description="<%= item.description %>">Add to Cart</button>
									</div>
								</div>
							</td>
						</tr>
						<% } %>
					<% }); %>
					<% } %>
				</tbody>
			</table>
		</div>
		<% if (response && response.error) {%>
		<div class="alert alert-danger">
			<%= response.error%>
		</div>
		<% } %>
	</div>
	<%- include("../scripts") -%>
	<script src="/static/js/view-items.js"></script>
</body>

</html>